{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extrahead %}
    {{ form.media }}    
{% endblock %}

{% block content %}
    <h1 class='text-center'>Edit!</h1>
    <hr class="mt-0 mb-4 style18 ">

    <div class="container form-group">
        <form method="POST" id="personForm" class="form-group">
            {% csrf_token %}
            {{ form.media.js }}
            {{form|crispy}}
            <input type="submit" class="btn btn-primary" value="Finish"> 
        </form>
    </div>

       
{% endblock %}