<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"  href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" crossorigin="anonymous">
        <link rel="stylesheet"  href="{% static 'css/mailstyle.css' %}" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>NSITF</h1>
            <img src="{% static 'nsitf_logo/nsitf.png' %}" alt="" id="logo">
            <p>Dear Employer.co.ltd <br>Thank you for registering with Nigeria Social Insurance Trustfund. Your registation was successfull and your employees have been verified, at NSITF the concerns and welfare of employees is our topmost priority. You have 100 employees and are to pay their due amounts everymonth. find attached to this mail your certificate of registration and a break down of your due amount of monthly remission to the fund</p>
        </div>
    </body>
</html>