{% extends 'base.html' %}

{% block taskqueueactive %} active {% endblock %}"
{% block content %}
    <div class="container">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active">Tasks </li>
        </ol>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>CAC Registration Number</th>
                    <th>Date</th>
                    <th>Company Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in my_tasks %}
                    <tr>
                        <td>{{ task.CAC_no }}</td>
                        <td>{{ task.CAC_reg_date }}</td>     
                        <td>{{ task.name }}</td>
                        <td>{{ task.status }}</td>
                        <td><a href="{% url 'taskdetailsview' task.pk %}" class="btn btn-warning">View</a></td> 
                        <td><a href="{% url 'returnregistration' task.pk %}" class="btn btn-primary">Return</a></td>
                        <td><a href="{% url 'approve_registration' task.pk %}" class="btn btn-success">Approve</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                
    </div>
{% endblock %}